@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/lib/prefixer";
//@import "less/adhesion";

// Global variables
@img-root: "../assets/img";

// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";


body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    opacity: 0;
    .transition(opacity 3s ease);
}

//typography

    h1 {
        font-size: 24px;
        text-transform: uppercase;
     }

     h1, h4 {
	     text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
     }

     h2 { font-size: 20px; }
     h3 { font-size: 16px; }
     h4 { font-size: 16px; }
     h5 { font-size: 14px; }
     h6 { font-size: 12px; }


     p {
        font-size: 16px;
        line-height: 1;
        text-align: left;
        padding: 0 10px;
     }

    @media @screen-small-above {
        h1 {
        	font-size: 100px;
        	text-transform: uppercase;
        	font-weight: bold;
        	}

        h2 {
        	font-size: 60px;
        	text-transform: uppercase;
        	font-weight: bold;
        	}

        h3 { font-size: 22px; }

        p {
            font-size: 18px;
            line-height: 2;
            text-align: left;
        }
    }

// primary navigation
.primary-navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	color: #ddd;
	background-color: rgba(0,0,0,.4);
	width: 100%;
}

.primary-navigation-btn {
	font-size: 14px;
	padding: 15px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	display: block;
	max-width: 200px;


	&:hover {
        //background-color: #fff;
        color: #fff;
    }

	i {padding-right: 5px;}
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 9;
    font-size: 16px;
    min-width: 250px;
    width: 25%;
    opacity: 0;
    display: none;
    .transition(opacity 0.5s ease);

    ul {
        list-style-type: none;
        padding: 10px;
        li {
            padding-bottom: 15px;
            &.active {
                font-weight: bold;
            }
            a {
                text-transform: uppercase;
                color: white;
                overflow: hidden;
            }
        }

    }
}

//credit

.credit {
	text-align: center;
	margin-bottom: -20px;
	color: #ccc;
	font-size: 18px;
    a {
	    color: #ccc;
	    font-weight: bold;
    }
}

//titlecard play buttons
.btn.btn-play, .btn.btn-video, .btn.btn-pano {
    border-radius: 0;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
    margin: 15px auto 0 auto;
    text-align: center;
    line-height: 30px;
    @media @screen-small-above {
    	font-size: 18px;
        padding: 0 22px;
        line-height: 44px;
    }

    &:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    &:after {
        font-family: "FontAwesome";
        content: '\f054';
        padding-left: 10px;
    }
}

// 50/50 grid for slide (used for playlist and portraits)
.first-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.second-block {
	.background-size(cover);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

// full width container within a section or slide
.full-block {
	display: table;
    width: 100%;
    height: 100%;


    .full-block-cell {
		display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	    width: 100%;
	}


	.full-block-content {
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
	}

	//style title slides uniquely
    .titlecard & {
	    background-color: rgba(0,0,0,.3);

		.full-block-content {
			width: 100%;
			padding: 0;
			.text-shadow(2px 2px 2px #000);
		}
    }

}



//video template
.video {
	.player {
	    display: none;
	}
	
	#player-wrapper {top: 0;}
}

.video > .full-block {
    background-color: rgba(0,0,0,.3);
}


//portrait tempate
.slide.photo-quote-vertical {
	.second-block {
		img {
			height: 100%;
			float: right;
		}
	}

	blockquote {
		position: absolute;
		top: 15%;
		left: 0;
		z-index: 20;
		border: none;
		margin: 0;
		padding: 0 50px;
		text-shadow: 0 2px 5px #444;

		p {
			font-size: 36px;
			font-weight: bold;
			line-height: 1.2;
			padding: 0;
		}

		dl {
			margin-top: 40px;
			opacity: .8;
			font-style: italic;
			font-size: 15px;
		}

		h6 {
			font-size: 20px;
			margin: 20px 0;
			font-style: italic;
			opacity: .6;
			line-height: 1.5;
		}
	}
}

//big quote

.big-quote {
	.full-block-cell {
		vertical-align: bottom;
		padding-bottom: 100px;

		.full-block-content {margin: 0;}

		blockquote {
			border: 0;
			padding: 0;
			text-align: left;
			text-shadow: 2px 2px 5px #333;

			p {
				font-size: 60px;
				line-height: 1.2;
				font-weight: bold;
			}

			dl {
				font-size: 22px;
			}
		}
	}
}


//pano tempate
.slide.pano {

    .location{
        height: 9%;
        color: #eee;
    }

    .pano-display {
        @media @screen-small { display: none; }
        background-color: rgba(0,0,0,.5);
        height: 100%;
        max-width: 100%;
        button {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            &.backward {
                opacity: 0;
            }
        }
    }

    .top-location {
        vertical-align: top;
    }
    .bottom-location {
        vertical-align: bottom;
    }

    .pano-container {
        height: 70%;
        max-height: 800px;
        background-position: 0,0;

        background-size: cover;
        .transition(background-position 8s linear);

        @media @screen-small {
            height: 20%;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
}

/*essay*/

.essay {
	.full-block-content {
		padding: 100px 0;
	}
}

/*playlist template */
#playlist {
	background-color: #fff;
	position: relative;

	h2,	h3, p {color: #555;}

	.second-block {
		background: url(../assets/img/playlist.jpg) no-repeat center center;
	}


	.jp-playlist {
		height: 100%;
		width: 100%;
		padding: 20px 10px 170px 10px;

		overflow: auto;
		position: absolute;
		top: 0;
		left: 0;


		li {
		font-size: 14px;
		margin-top: 5px;
		padding-bottom: 10px;
		border-bottom: 1px solid #999;
		}
	}

	//audio player
	.jp-gui {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    border-top: 5px solid #CF9D98;
	}

	.jp-interface {
	    position: relative;
	    width:100%;
	    background-color:#963432; /* Required for the full screen */
	}

	.jp-controls-holder {
	    width:30%;
	    float: left;
	    background-color: #B87068;
	    height: 140px;
	    display: table;
	}

	.jp-controls {
	    list-style-type:none;
	    width: 100%;
	    height: 100%;
	    display: table-cell;
	}

	.jp-controls li {
	    display:inline;
	    float: left;
	    width: 50px;
	    height: 50px;
	    padding: 15px 0 0 8px;
	    font-size: 24px;
	    }


	.player-info {
	    width: 70%;
	    float: right;
	    position: relative;
	    height: 140px;
	    background-color: #B4645C;
	    padding: 10px;
	}

	.jp-seek-bar {
	    position: absolute;
	    top: 70px;
	    background-color: #CF9D98;
	    height: 10px;
	    margin: 0 10px;
	}

	.jp-play-bar {
	    background-color: #B87068;
	    height: 10px;
	}

	.jp-current-time, .jp-duration {
	    width:70px;
	    font-size:12px;
	    color: #eee;
	    padding: 10px;
	}

	.jp-current-time {
	    float: left;
	}

	.jp-duration {
	    float: right;
	    text-align:right;
	}

	.jp-title ul,
	.jp-playlist ul {
	    list-style-type:none;
	    margin: 0;
	    padding: 0;
	}
	.jp-title li {
	    position: relative;
	    padding: 2px 0;
	    overflow: hidden;
	}

	.jp-title ul {
	    font-size: 18px;
	    color: #eee;
	}

	.jp-title li{
	    border-bottom:none;
	    border-top:none;
	    padding:0;
	    text-align:center;
	}

}

/*credits template */
#credits {
	background-color: #ccc;
}

// default slide styles
#superContainer {
    height: 100%;
    position: relative;
    /* Touch detection for Windows 8 */
    -ms-touch-action: none;
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    .slides {
	    height: 100%;
	    overflow: hidden;
	    position: relative;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;

    	//transition between slides
		.instant {
		    -webkit-transition: all 0 ease;
		    -moz-transition: all 0 ease;
		    -o-transition: all 0 ease;
		    transition: all 0 ease;
		}

    	.slidesContainer {
		    float: left;
		    position: relative;
		    height: 100%;
		    display: block;

		    .slide {
			    float: left;
			    height: 100%;
			    display: block;
			    overflow: auto;
			}

		}
	}
}

//generic container for all content within a section or slide only use this class for JS hooks and global styles that will apply to all templates.
.text {
opacity: 0;

    &.fade {
    	.transition(opacity 1s ease);
    }

}

//full-bleed background images on sections and slides
.section, .slide {
    .background-size(cover);
    background-position: center center;
    position: relative;
}

//slide navigation
.controlArrow {
    background-color: #fafafa;
    position: absolute;
    bottom: 65px;
    @media @screen-small-above { bottom: 65px; }
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 20;
    line-height: 2.1;
}
.controlArrow.prev {
    right: 60px;
    color: #000;
    @media @screen-small-above { right: 85px; }
    &:before {
        font-family: "FontAwesome";
        content: '\f053';
    }
}
.controlArrow.next {
    right: 0px;
    color: #000;
     padding: 0 0 0 5px;
    @media @screen-small-above { right: 15px; }
    &:before {
        font-family: "FontAwesome";
        content: "\f054"
    }
}

.controlArrow.nextChapter {
    right: 0px;
    color: #000;
    padding: 0 0 0 5px;
    font-size: 14px;
    line-height: 3.5;
    width: 250px;
    text-transform: uppercase;
    @media @screen-small-above { right: 15px; }

    &:after {
        font-family: "FontAwesome";
        content: "\f078";
        padding-left: 5px;
    }

}

/**
 * fullPage 1.6.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */

/*
fullPage default styles we don't need


html, body {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.section.table, .slide.table {
    display: table;
    width: 100%;
}
.tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.scrollable {
    overflow: scroll;
}

#fullPage-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fullPage-nav.right {
    right: 17px;
}
#fullPage-nav.left {
    left: 17px;
}
.fullPage-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fullPage-slidesNav.bottom {
    bottom: 17px;
}
.fullPage-slidesNav.top {
    top: 17px;
}
#fullPage-nav ul,
.fullPage-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fullPage-nav li,
.fullPage-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fullPage-slidesNav li {
    display: inline-block;
}
#fullPage-nav li a,
.fullPage-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
    background: #333;
}
#fullPage-nav span,
.fullPage-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.fullPage-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    top: -2px;
}
.fullPage-tooltip.right {
    right: 20px;
}
.fullPage-tooltip.left {
    left: 20px;
}

.easing {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

*/
