@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/lib/prefixer";
//@import "less/adhesion";

// Global variables
@img-root: "../assets/img";

// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";


body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    opacity: 0;
    .transition(opacity 3s ease);
}

//typography
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: bold;
}


h1 {
    font-size: 24px;
    text-transform: uppercase;
 }

 h1, h4 {
     text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
 }

 h2 { font-size: 20px; }
 h3 { font-size: 16px; }
 h4 { font-size: 16px; }
 h5 { font-size: 14px; }
 h6 { font-size: 12px; }


 p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    padding: 0 10px;
 }

@media @screen-small-above {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 26px;
    }

    p {
        font-size: 22px;
        line-height: 1.5;
    }

}

@media @screen-medium-above {
    h1 {
    	font-size: 100px;
    }

    h2 {
    	font-size: 60px;
    }

    h3 {
        font-size: 36px;
    }

    p {
        font-size: 26px;
        line-height: 1.6;
        text-align: left;
    }
}

.slide.essay p {
    font-size: 20px;
}

.titlecard p {
    text-align: center;
}

.primary-navigation-btn, .controlArrow, .next-section {
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    @media @screen-small-above {
        bottom: 10px;
    }
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.primary-navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    @media @screen-small {
        background-color: #000;
        height: 50px;
    }
}

.primary-navigation-btn, .next-section {
    left: 0;
    font-size: 12px;
    padding: 10px;
    display: inline-block;
    max-width: 150px;

    @media @screen-small-above {
        left: 15px;
        font-size: 14px;
        padding: 15px;
    }
}

.next-section {
    left: 70px;
}

//slide navigation
.controlArrow {
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 20;
    line-height: 2.3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media @screen-small-above {
        width: 50px;
        height: 50px;
        font-size: 24px;
        line-height: 2.2;
    }
}
.controlArrow.prev {
    right: 60px;
    @media @screen-small-above { right: 85px; }
    &:before {
        font-family: "FontAwesome";
        content: '\f053';
    }
}
.controlArrow.next {
    right: 0px;
    padding: 0 0 0 5px;
    @media @screen-small-above { right: 15px; }
    &:before {
        font-family: "FontAwesome";
        content: "\f054"
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    font-size: 16px;
    min-width: 250px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: auto;
    display: none;
    .transition(opacity 0.5s ease);
    background-color: rgba(0,0,0, 1);

    .nav-title {
        text-align: center;
    }

    .section-tease {
        position: relative;
        background-color: rgba(0,0,0,.2);
        img {
            width: 100%;
            max-height: 190px; // for my own sanity right now
            margin: 0 auto;
            opacity: 0.7;
        }
        h4 {
            width: 50%;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);

            color: #fff;
            font-size: 24px;
        }
        margin-bottom: 20px;

    }

    .close-nav {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		text-align: right;
		display: block;
		padding: 10px 20px;
		cursor: pointer;
        z-index: 20;
	}
}

//credit

.credit {
	text-align: center;
	margin-bottom: -20px;
	color: #ccc;
	font-size: 18px;
    a {
	    color: #ccc;
	    font-weight: bold;
    }
}

//titlecard play buttons
.btn.btn-play, .btn.btn-video, .btn.btn-pano {
    border-radius: 0;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
    margin: 15px auto 0 auto;
    text-align: center;
    line-height: 30px;
    @media @screen-small-above {
    	font-size: 18px;
        padding: 0 22px;
        line-height: 44px;
    }

    &:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

/*
    &:after {
        font-family: "FontAwesome";
        content: '\f054';
        padding-left: 10px;
    }
*/
}

// 50/50 grid for slide (used for playlist and portraits)
.first-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.second-block {
	.background-size(cover);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

// full width container within a section or slide
.full-block {
	display: table;
    width: 100%;
    height: 100%;


    .full-block-cell {
		display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	    width: 100%;
	}


	.full-block-content {
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
	}

	//style title slides uniquely
    .titlecard & {
	    background-color: rgba(0,0,0,.3);

		.full-block-content {
			width: 100%;
			padding: 0;
			.text-shadow(2px 2px 2px #000);
		}
    }

}



//video template
.video {
	.player {
	    display: none;
	}

	#player-wrapper {top: 0;}
}

.video > .full-block {
    background-color: rgba(0,0,0,.3);
}


//portrait tempate
.slide.photo-quote-vertical {
	.second-block {
		img {
			height: 100%;
			float: right;
		}
	}

	blockquote {
		position: absolute;
		top: 5%;
		left: 0;
		z-index: 20;
		border: none;
		margin: 0;
		padding: 0 50px;
		color: #444;

		p {
			font-size: 28px;
			font-weight: bold;
			line-height: 1.2;
			padding: 0;
		}

		dl {
			margin-top: 40px;
			opacity: .8;
			font-size: 15px;
		}

		h6 {
			font-size: 20px;
			margin: 20px 0;
			font-style: italic;
			opacity: .6;
			line-height: 1.5;
		}
	}
}

//big quote

.big-quote {

	.contained-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 225px;
		.background-size(cover);
		background-position: top center;
		@media @screen-small-above {
			height: 100%;
		}

	}

	.full-block-cell {
		vertical-align: bottom;
		padding-bottom: 100px;

		.full-block-content {margin: 0;}

		blockquote {
			position: absolute;
			top: 225px;
			right: 0;
			width: 100%;
			border: 0;
			text-align: left;
			text-shadow: 2px 2px 5px #333;
			 background-color: rgba(0,0,0,.8);
			max-width: 500px !important;
			padding: 20px;

			@media @screen-small-above {
				top: auto;
				bottom: 60px;
				right: 15px;
				width: auto;
			}


			p {
				font-size: 20px;
				font-weight: bold;
				line-height: 1.2;
				padding: 0;
			}

			dl {
				margin-top: 10px;
				font-size: 12px;
			}

			h6 {
				font-size: 13px;
				margin: 0 0 20px 0;
				opacity: .6;
				line-height: 1.5;
			}
		}
	}
}

.stand-alone-quote {
	h6 {
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 20px;
		font-style: italic;
	}

	blockquote {
		border: 0;
		padding: 0;
		text-align: left;
		text-shadow: 2px 2px 5px #333;

		p {
			font-size: 28px;
			line-height: 1.2;
		}


	}

	dl {
	margin: 20px 0;
	text-align: left;
	font-size: 18px;
	}
}


//pano tempate
.slide.pano {

    .location{
        height: 9%;
        color: #eee;
    }

    .pano-display {
        @media @screen-small { display: none; }
        background-color: rgba(0,0,0,.5);
        height: 100%;
        max-width: 100%;
        button {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            &.backward {
                opacity: 0;
            }
        }
    }

    .top-location {
        vertical-align: top;
    }
    .bottom-location {
        vertical-align: bottom;
    }

    .pano-container {
        height: 70%;
        max-height: 800px;
        background-position: 0,0;

        background-size: cover;
        .transition(background-position 8s linear);

        @media @screen-small {
            height: 20%;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
}

/*essay*/

.essay {
	.full-block-content {
		padding: 100px 0;
	}
}

/*credits template */
#credits {
	background-color: #ccc;
}

// default slide styles
#superContainer {
    height: 100%;
    position: relative;
    /* Touch detection for Windows 8 */
    -ms-touch-action: none;
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    .slides {
	    height: 100%;
	    overflow: hidden;
	    position: relative;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;

    	//transition between slides
		.instant {
		    .transition(all 0 ease-in);
		}

    	.slidesContainer {
		    float: left;
		    position: relative;
		    height: 100%;
		    display: block;

		    .slide {
			    float: left;
			    height: 100%;
			    display: block;
			    overflow: auto;
			}

		}
	}
}

//generic container for all content within a section or slide only use this class for JS hooks and global styles that will apply to all templates.

//full-bleed background images on sections and slides
.section, .slide {
    .background-size(cover);
    background-position: center center;
    position: relative;
}
