{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}

{% for row in COPY.content %}
    {% include "%s.html"|format(row.template) ignore missing %}
{% endfor %}
</div>
<div class="primary-navigation-btn"><i class="fa fa-bars"></i> Contents</div>
<footer data-anchor="listen">

<h1>Playlist</h1>

<div class="playlist">
    <div id="jp_container_N">
        <div id="jquery_jplayer_N" class="jp-jplayer" style="width: 480px; height: 270px;">
        </div>
        <div class="jp-playlist">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="jp-gui">
            <div class="jp-interface">
                <div class="jp-controls-holder">
                    <ul class="jp-controls">
                        <li><a href="javascript:;" class="jp-previous" tabindex="1"><i class="fa fa-backward"></i></a></li>
                        <li><a href="javascript:;" class="jp-play" tabindex="1"><i class="fa fa-play"></i></a><a href="javascript:;" class="jp-pause" tabindex="1" style="display: none;"><i class="fa fa-pause"></i></a></li>
                        <li><a href="javascript:;" class="jp-next" tabindex="1"><i class="fa fa-forward"></i></a></li>
                    </ul>
                </div>
                <div class="player-info">
                    <div class="jp-title">
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </div>
                    <div class="jp-current-time"></div>
                    <div class="jp-duration"></div>
                    <div class="jp-progress-container">
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</footer>

{% endblock %}