{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}

{% for row in COPY.content %}
    {% include "%s.html"|format(row.template) ignore missing %}
{% endfor %}
</div>
<div class="primary-navigation-btn"><i class="fa fa-bars"></i></div>
<div class="next-section">Next Section</div>

<div class="nav">
<!--     <span class="close-nav"><i class="fa fa-times"></i> Close</span>
        <div class="row">
            <div class="col-md-12 nav-title">
                <h3>Borderland Stories</h3>
            </div>
        </div> -->
    <div class="container-fluid">
        {% for row in nav %}
        <div class="row">
            {% for item in row %}
            <a data-menuanchor="{{ item.data_panel }}" href="#/{{ item.data_panel }}">
                <div class="section-tease col-md-3 col-sm-12">
                    <img src="assets/img/{{ item.menu_image }}">
                    <h4>{{ item.chapter_title }}</h4>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}