{% extends '_base.html' %}

{% block header_content %}

{% endblock %}


{% block content %}

{% for row in COPY.content %}
    {% include "%s.html"|format(row.template) ignore missing %}
{% endfor %}

<!-- <footer>
    <nav class="menu">
        <a href data-panel="home">Home</a>
        <a href data-panel="video">Video</a>
        <a href data-panel="intro">Intro</a>
        <a href data-panel="quote">Quote</a>
        <a href data-panel="recipe">Recipe</a>
        <a href data-panel="crossing">Crossing</a>
        <a href data-panel="color">Color</a>
    </nav>
</footer> -->

{% endblock %}