<div {% if row.data_panel %} data-anchor="{{ row.data_panel }}" {% endif %} class="slide pano{% if row.extra_class %} {{ row.extra_class }} {% endif %}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">
    <div class="location top-location">
        <h4>{{ row.pano_top_location }}</h4>
    </div>
    <div class="pano-container" {% if row.image %} data-bgimage="{{ row.image }}" data-bgimage-small="{{ row.pano_mobile_img }}" {% endif %}>
        <div class="text pano-display">
            <h6>
                <button class="btn btn-pano">Animate</button>
            </h6>
            <h6>
                <button class="btn btn-pano backward">Go Back</button>
            </h6>
        </div>
    </div>
    <div class="location bottom-location">
        <h4>{{ row.pano_bottom_location }}</h4>
    </div>
</div>

