<div {% if row.data_panel %} data-anchor="{{ row.data_panel }}" {% endif %} class="slide image-split {% if row.extra_class %} {{ row.extra_class }} {% endif %}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">
    <div class="text full-block">
        <div class="full-block-cell">
            <img src="assets/img/{{ row.image }}">
            <div class="full-block-content">
                {{ row.text }}
            </div><!--full-block-content-->
        </div><!--full-block-cell-->
    </div><!--full-block-->
</div><!--slide-->